

<!-- ***** Header Area Start ***** -->
<header
  class="header-area position-fixed header-sticky wow slideInDown"
  data-wow-duration="0.75s"
  data-wow-delay="0s"
>
  <div class="container">
    <div class="row ">
      <div class="col-11 mx-auto ">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img src="/images/user.jpg" alt="User Angger" class="img-logo"/>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="/" class="<%= url == "/" ? "active" : ""%>">Home</a>
            </li>
            <li class="scroll-to-section">
              <a href="/contact" class="<%= url == "/contact" ? "active" : ""%>">Contacts</a>
            </li>
            <li class="scroll-to-section">
              <a href="/about" class="<%= url == "/about" ? "active" : ""%>">About</a>
            </li>
            <li class="scroll-to-section">
              
              <a href="/cli" class="<%= url == "/cli" ? "active" : ""%>">CLI</a></li>
            <li>
              <div class="gradient-button">
                <a id="modal_trigger" href="/contact"
                  >Create Contacts</a
                >
              </div>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
